name: Build Plugin with Gradle
on:
  push:
    branches: [ "master" ]
  pull_request:
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          java-version: "21"
          distribution: temurin
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
        with:
          gradle-version: "8.14.2"
      - name: Build with Gradle
        run: ./gradlew build --refresh-dependencies
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: AuraSkills
          path: build/libs/AuraSkills-**.jar
      - name: Delete all summary content
        run: rm $GITHUB_STEP_SUMMARY
